<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comentarios</title>
</head>
<body>
    <form action=http://127.0.0.1:8000/mail method="post">
        {% csrf_token %}
        <h1>Enviar Comentarios</h1>
        <p>asunto: <input type="text" name="asunto"></p>
        <p>email: <input type="text" name="email_envio"></p>
        <p>comentario: <textarea name="mensaje" rows="15" cols="45"></textarea></p>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>